* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  min-height: 100dvh;
  background-color: white;
}

a {
  text-decoration: none;
  color: gray;
}

ul {
  list-style: none;
}

.hero-container {
  background-color: #1f2937;
  min-height: 55dvh;
}

.header {
  color: #f9faf8;
  background-color: #1f2937;
  /*border: 5px solid red;*/
  padding-top: 30px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 410px;
}

.header-container {
  width: 100%;
  /* border: 3px solid red;*/
}

.header-links {
  display: flex;
  gap: 20px;
  font-size: 18px;
  color: #e5e7eb;
  padding-right: 40px;
  padding-top: 5px;
  justify-content: flex-end;
  /* border: 3px solid red;*/
}

.main-image {
  width: 500px;
  height: 250px;
  /*border: 3px solid red;*/
}

.main-text {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

.hero-text {
  font-size: 18px;
  color: #e5e7eb;
  margin-top: 10px;
}

.header-button {
  background-color: #3882f6;
  color: white;
  margin-top: 15px;
  border-radius: 10px;
  border: none;
  font-family: inherit;
  font-size: 18px;
  color: #e5e7eb;
  padding: 10px 37px;
  font-weight: bold;
}

.section {
  /*border: 3px solid red;*/
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-top: 10%;
  align-items: center;
}

.main-container {
  /*border: 3px solid red;*/
  width: 30%;
}

.section-img-one,
.section-img-two,
.section-img-three,
.section-img-four {
  width: 200px;
  height: 200px;
  text-align: center;
  border: 5px solid #3882f6;
  border-radius: 15px;
}

.info-text {
  text-align: center;
  margin-top: 60px;
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}

.img-section {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-top: 40px;
}

.section-img {
  text-align: center;
  width: 200px;
}

.subtext {
  font-size: 18px;
}

.quote-text {
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
  color: #1f2937;
}

.quote-text-section {
  text-align: left;
  width: 780px;
  margin: 300px auto 0;
  background: #e5e7eb;
}

.customer {
  color: #1f2937;
  font-weight: bold;
  font-size: 25px;
  margin-right: 25px;
}

.customer-container {
  width: 780px;
  text-align: right;
  margin: 15px auto 0;
}

.cta-container {
  width: 1000px;
  height: 150px;
  background: #3882f6;
  margin: 200px auto 0;
  color: #f9faf8;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
}

.cta-btn {
  border: 3px solid #f9faf8;
  padding: 7px 40px;
  color: #f9faf8;
  background: #3882f6;
  font-weight: bold;
  border-radius: 10px;
  font-size: 20px;
}

.cta {
  font-size: 25px;
}

.cta-undertext {
  font-size: 17px;
}

.footer-container {
  height: 100px;
  width: 100%;
  background: #1f2937;
  margin-top: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f9faf8;
}
